.header {
    z-index: 1;
    height: 65px;
    position: fixed;
    width: 100%;
}

.nav {
    height: 65px;
    width: 100%;
    font-size: 17px;
    display: inline-block;
    z-index: 1;
    background: white;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.navList {
    display: inline-block;
    margin-top: 20px;
    margin-left: 10vh;
}

.navList li {
    display: inline-block;
    margin-left: 8vh;
    font-weight: 500;
}

.navList img {
    width: 7rem;
    left: 30px;
    top: -24px;
    position: absolute;
    margin-bottom: 5px;
}

.navlistSoMe {
    display: inline;
    position: absolute;
    right: 20px;
}

.navlistSoMe button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 5px;
}

.navlistSoMe button:hover {
    color: dodgerblue;
}

.bassNavLogo {
    width: 110px;
    position: absolute;
    left: 15px;
    top: -23px;
}

@media screen and (max-width: 800px) {
    .navList, .navList li, .nav {
        display: block;
        // background-color: white;
        border: none;
        text-align: center;
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .navList li {
        margin-top: 4rem;
        font-size: 25px;
        margin-left: -8vh;
    }
    .navList {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;       
        background-color: white;
        width: 100%;
        margin-left: 0;
        margin-top: -10px;
        z-index: 1;
    }

    .navlistSoMe{
        display: none;
    }

    .burger {
        display: block !important;
    }

}

.burger {
    position: absolute;
    right: 10px;
    display: none;
    z-index: 2;
    border: none;
    background-color: transparent;
    font-size: 30px;
    margin-top: 17px;
}