@font-face {
    font-family: 'Poppins-Regular';
    src: url(../../public/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url(../../public/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url(../../public/fonts/Poppins-ExtraBold.ttf);
}