* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

/* NAVBAR */

.header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid grey;
    display: flex;
    top: 0;
}   

.header > p {
    display: inline;
    font-size: 35px;
    font-weight: bolder;   
    position: relative;
    left: 2rem;
}

.hub {
    color: orange;
}

.PremiumBtn {
    background-color: dodgerblue;
    position: absolute;
    right: 10vh;
    top:  10px;
    height: 40px;
    width: 11vh;
    border-radius: 10px;
    color: white;
}

.premiumH {
    color: dodgerblue;
    font-size: medium !important;
    margin-top: 5px;
}



/* Main image grid */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    .PremiumBtn {
        right: 10px;
        position: absolute;
    }
}



body {
    /* display: flex; */
	min-height: 100vh;
	/* flex-direction: column;
	justify-content: center;
	align-items: center; */
}

.mainH1 {
    font-size: 30px;
    font-weight: bold;   
}


#btn1 {
    background-color: dodgerblue;
    width: 7rem;
    height: 2.3rem;
    border-radius: 5px;
    border: 3px solid transparent;
    color: white;
    transition: .15s ease-in-out;
    outline: none;
}

#btn1:hover {
    background-color: transparent;
    border: 3px solid dodgerblue;
    color: black;
    transition: .15s ease-in-out;
}